* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Inter;
  background-color: #fff7ed;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  -ms-overflow-style: none; /* IE and Edge */
  overflow: -moz-scrollbars-none; /* Older Firefox */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: #333;
  transition: 0.1s;
}

.navbar nav a:hover {
  color: black;
  text-decoration: underline;
}

.home-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("./components/images/home-hero.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 350px;
  color: white;
  padding: 45px 23px;
  text-align: center;
}

.home-container h1 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.home-container p {
  font-size: 23px;
  margin-bottom: 1rem;
  font-weight: 300;
  line-height: 24px;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("./components/images/home-hero.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 350px;
  color: white;
  padding: 45px 23px;
  text-align: center;
}

.home-container button {
  padding: 1rem 6rem;
  font-size: 16px;
  font-weight: 600;
  background-color: #ff8c38;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s;
  align-self: center;
  margin-top: auto;
}

.home-container button:hover {
  background-color: #e07b30;
}

.home-container button:active {
  background-color: #c96a28;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.about-container img {
  width: 60%;
}

.about-container .text-area {
  width: 60%;
}

.about-container .text-area h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 1rem;
  max-width: 70%;
}

.about-container .text-area p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 1rem;
}

.order-area {
  background-color: #ffcc8d;
  width: 60%;
  padding: 2rem;
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.order-area h1 {
  font-size: 24px;
  font-weight: 600;
  max-width: 40%;
}

.order-area button {
  padding: 0.75rem 4rem;
  font-size: 16px;
  font-weight: 600;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s;
  margin-top: 1rem;
}

.footer {
  background-color: gray;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 8px;
  font-weight: 300;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: flex-start;
  }

  .navbar nav a {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .home-container {
    padding: 30px 15px;
  }

  .home-container h1 {
    font-size: 28px;
  }

  .home-container p {
    font-size: 16px;
  }

  .home-container button {
    padding: 0.75rem 4rem;
  }
  .about-container img,
  .about-container .text-area {
    width: 80%;
  }

  .about-container .text-area h2 {
    font-size: 2rem;
  }

  .about-container .text-area p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .home-container h1 {
    font-size: 24px;
  }

  .home-container p {
    font-size: 14px;
  }

  .navbar {
    flex-direction: row;
    align-items: flex-start;
  }

  .navbar nav a {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .home-container button {
    padding: 0.5rem 3rem;
  }
  .about-container img,
  .about-container .text-area {
    width: 90%;
  }

  .about-container .text-area h2 {
    font-size: 1.5rem;
  }

  .about-container .text-area p {
    font-size: 0.9rem;
  }
}
