* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Inter;
  background-color: #fff7ed;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  -ms-overflow-style: none; /* IE and Edge */
  overflow: -moz-scrollbars-none; /* Older Firefox */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff7ed;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: #333;
  transition: 0.1s;
}

.navbar nav a:hover {
  color: black;
  text-decoration: underline;
}

.home-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("./components/images/home-hero.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 350px;
  color: white;
  padding: 45px 23px;
  text-align: center;
}

.home-container h1 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.home-container p {
  font-size: 23px;
  margin-bottom: 1rem;
  font-weight: 300;
  line-height: 24px;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("./components/images/home-hero.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 350px;
  color: white;
  padding: 45px 23px;
  text-align: center;
}

.find {
  padding: 1rem 6rem;
  font-size: 16px;
  font-weight: 600;
  background-color: #ff8c38;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s;
  align-self: center;
  margin-top: auto;
}

.home-container button:hover {
  background-color: #e07b30;
}

.home-container button:active {
  background-color: #c96a28;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.about-container img {
  width: 60%;
}

.about-container .text-area {
  width: 60%;
}

.about-container .text-area h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 1rem;
  max-width: 70%;
}

.about-container .text-area p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 1rem;
}

.order-area {
  background-color: #ffcc8d;
  width: 60%;
  padding: 2rem;
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.order-area h1 {
  font-size: 24px;
  font-weight: 600;
  max-width: 40%;
}

.order-area button {
  padding: 0.75rem 4rem;
  font-size: 16px;
  font-weight: 600;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s;
  margin-top: 1rem;
}

.footer {
  background-color: gray;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 8px;
  font-weight: 300;
  color: white;
  width: 100%;
}

.van-list-container {
  padding-inline: 23px;
}

.van-list-container h1 {
  font-size: 56px;
  font-weight: 600;
  margin-top: 1rem;
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

.van-tile a {
  color: #161616;
  text-decoration: none;
}

.van-tile img {
  max-width: 100%;
  border-radius: 5px;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-type-container {
  margin-top: 12px;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*="van-type-"] {
  padding: 7px 14px;
}

.van-info {
  background-color: #ffead0;
  padding: 1rem;
  border-radius: 5px;
}

.van-detail-container {
  padding: 27px;
}

.van-detail-container .back-button {
  color: black;
  text-decoration: none;
}

.van-detail-container .back-button span {
  text-decoration: underline;
}

.van-detail {
  display: flex;
  flex-direction: row;
  color: #161616;
  gap: 1rem;
  align-items: self-start;
}

.specification {
  margin-top: 3.5rem;
}

.specification h2 {
  margin-top: 1rem;
}

.specification button {
  margin-top: 1rem;
}

.van-detail img {
  border-radius: 5px;
  margin-block: 47px;
  width: 40%;
}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.van-detail > i {
  align-self: flex-start;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.van-detail .link-button {
  background-color: #ff8c38;
  color: white;
  font-size: 1.125rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: flex-start;
  }

  .navbar nav a {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .home-container {
    padding: 30px 15px;
  }

  .home-container h1 {
    font-size: 28px;
  }

  .home-container p {
    font-size: 16px;
  }

  .home-container button {
    padding: 0.75rem 4rem;
  }
  .about-container img,
  .about-container .text-area {
    width: 80%;
  }

  .about-container .text-area h2 {
    font-size: 2rem;
  }

  .about-container .text-area p {
    font-size: 1rem;
  }
  .van-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 30px;
    margin-top: 50px;
  }
  .van-detail {
    flex-direction: column;
  }
  .van-detail img {
    width: 80%;
  }
  .specification {
    margin-top: 0.5rem;
  }
}

@media (max-width: 480px) {
  .home-container h1 {
    font-size: 24px;
  }

  .home-container p {
    font-size: 14px;
  }

  .navbar {
    flex-direction: row;
    align-items: flex-start;
  }

  .navbar nav a {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .home-container button {
    padding: 0.5rem 3rem;
  }
  .about-container img,
  .about-container .text-area {
    width: 90%;
  }

  .about-container .text-area h2 {
    font-size: 1.5rem;
  }

  .about-container .text-area p {
    font-size: 0.9rem;
  }
  .van-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 25px;
    margin-top: 40px;
  }
  .van-detail {
    flex-direction: column;
  }
  .van-detail img {
    width: 80%;
  }
  .specification {
    margin-top: 0.5rem;
  }
}
